

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
font-family: "Ubuntu", sans-serif;
display: flex;
flex-direction: row;
justify-content: space-between;

}


button {
    background: none;
    color: red;
    cursor: pointer;
    border: none;
 }

 .navbar{
     background-color: black;
     overflow: hidden;
 }
 .ms-auto {
     position: relative;
     margin-right: -12px;
     z-index: -1;
     font-size: 30px;
     padding-top: 10px;
 }

 .navbar .heart{
    float: right;
    font-size: 22px;
    margin-right: 25px;
    z-index: 1;
    

 }

.movies {
    width: 100%;
    
}

.section-movies1 {
    width: 95vw;
    height: 30vh;
    display: flex;
    margin-left: 15px;
   }

.section-movies2 {
    width: 95vw;
    height: 30vh;
    display: flex;
    margin-left: 15px;
   }

.photo {
    margin-top: 2%;
    width: 250px;
    height: 150px;
    cursor: pointer;
    
    }
.photo:hover {
    width: 260px;
    height: 160px;
}

h5 {
margin-left: 20px;
padding-top: 0;

}

h6 {
    text-align: center;
    margin-top: 10px;
    }

.title {
    margin-left: 15px;
    
    
}

.second-page {
    
    position: relative;
    width: 100vw;
    height: 80vh;
}

.second-page .background {
    
    height: 90vh;
    width: 100vw;
    opacity: 0.9;
    z-index: -100;
    overflow: hidden;
}

.text {
    margin-left: 15px;
    margin-right: 10%;
    margin-top: -35%;
    width: 35%;
    height: 50vh;
    position: absolute;
    z-index: 1;
    
   
}

.filter-btn {
    background-color: red;
    color: aliceblue;
    padding: 5px 20px;
    margin: 15px;
    border-radius: 3px;
    
}

.filter-btn:hover {
    cursor: pointer;
    color: red;
    background-color: aliceblue;
    border: solid rgb(177, 3, 3);
}

.second-page .spec {
    height: 5%;
    display: flex;
    
    
}

#movieSearch {
   border-radius: 10px;
   padding: 5px;
   width: 20%;
   display: flex;
   margin-left: 50%;  
}
