
* {
    box-sizing: border-box;
}

body {
 display: flex;
 flex-direction: row;
}

button {
    
   background: none;
   color: red;
   cursor: pointer;

   border: none;
}

.container .action-buttons{
    display: inline;
    flex-direction: row;
    width: 100vw;
    position: absolute;
    left: 0%;
    z-index: 100;
    top: 50%;
    }

.container .action-buttons .left-button {
   
    color: aliceblue;
    
}

.container .action-buttons .right-button {
    margin-left: 95%;
    color: aliceblue;    
    
}

.hollywood {
    text-align: 0;
    margin: 0;
  
    height: 20%;
    width: 100%;
}

.comedies {
    height: 20%;
    width: 100%;
}
