@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
font-family: "Ubuntu", sans-serif;
display: block;
width: 100vw;
height: 100vh;
overflow: hidden;

}

button {
    
    background: none;
    color: red;
    cursor: pointer;
    border: none;
 }

.container {
    padding-top: 10%;
    padding-bottom: 5%;
    margin-left: 0;
}

section {
    padding-top: 10%;
text-align: start;

}